@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #214050;
}

.launchButton {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.launchButton:hover {
  background-color: #005bb5;
}

.bounce {
  animation: bounce 1.5s infinite;
}
