body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  padding: 10px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  header {
    max-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 10px 0;
  }
  nav ul div {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1060px) {
  header {
    flex-direction: column;
  }
  nav{
    width: 100%;
  }
  ul{
    display: flex;
    justify-content: space-around;
  }
  nav ul div {
    margin: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo .title {
  margin-left: 5px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #214050;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 500px) {
  .logo .title {
    white-space: unset;
    font-size: 6vw;
  }
  .logo{
    margin: auto;
  }
}

.title a {
  color: #214050;
  text-decoration: dashed;
}

nav{
  max-width: 600px;
}

nav ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul div {
  margin: 0 15px;
}

nav ul div a {
  text-decoration: none;
  color: #333;
}

.login a {
  text-decoration: none;
  color: #333;
}

/* Footer */
.footer {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
}

.footer-subscription input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.footer-subscription button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.footer-info {
  text-align: center;
}
