.specific-article-design1 {
    padding: 10px;
    max-width: 80%;
    margin: auto;

    .header {
        margin: 20px 0;
        display: flex;

        .go-back {
            background-color: #3b6978;
            color: white;
            // padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            cursor: pointer;
            position: relative;
            margin-right: 10px;

            * {
                position: absolute;
            }
        }

        .go-back:hover {
            background-color: #0f2a34;
        }

        .date-title {
            margin-left: 50px;
            width: fit-content;

            @media screen and (max-width: 768px) {
                margin: 0;
            }
        }

        .date {
            font-size: 0.8em;
            color: #666;
            margin-right: 10px;

        }

        .title {
            font-size: 1.3em;
            font-weight: bold;
            margin-top: 10px;
        }
    }

    .body {
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                // width: 100%;
                margin-top: 10px;
                border-radius: 15px;
            }
        }

        .caption {
            font-size: 0.8em;
            color: #666;
            text-align: center;
            padding: 10px 0;
            background-color: #ebf2fe;
            border-radius: 0 0 10px 10px;
        }
    }

    .other-news {
        .other-news-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date-parent {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

            .ribbon {
                background-color: #EBF2FE;
                color: black;
                padding: 10px 15px;
                border-radius: 5px;
                margin-right: 10px;
                white-space: nowrap;
            }

            .date {
                white-space: nowrap;
                margin: 10px;
            }

            .content {
                max-width: 700px;
                // display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    font-size: 1.2em;
                    font-weight: 500;
                    margin: 30px 0;
                }
            }

            .image {
                width: 30vw;
                min-width: min(300px, 100%);
                max-height: 250px;
                object-fit: cover;
                overflow: hidden;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;

                .image {
                    margin-bottom: 20px;
                }

                .content {
                    .title {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}