@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.dark-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  right: 5px;
  top: 25px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: #fff;
}

.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.icon-btn:active {
  transform: scale(0.95);
}

/* Dark mode styles */
.dark-mode .icon-btn {
  color: #fff;
}

.dark-mode .icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive styles for screens smaller than 900px */
@media (max-width: 900px) {
  .icon-btn {
    padding: 10px;
  }
}