.news-block-wrapper {
  * {
    text-decoration: none !important; // Removes underline
    // color: inherit; // Inherit color from parent
  }

  .news-block {
    :hover {
      text-decoration: underline !important;
    }
    .date {
      font-size: 0.6em;
      font-weight: 500;
      color: #3B6978;
      margin-bottom: 10px;
    }

    .news {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-size: 0.7em;
        font-weight: 600;
        color: #1E2532;
        margin-bottom: 10px;
        height: 4rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        line-height: 1.2em;
        max-height: 3.6em;
        margin: 0px;
        overflow: hidden;
      }
    }

    .remark {
      color: #214050;
      font-size: 0.6em;
      font-weight: 500;
      margin-top: 10px;
    }
  }
}


/* components/SkeletonNewsBlock.scss */
.skeleton-news-block-wrapper {
  .skeleton-news-block {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    .skeleton-date {
      width: 40%;
      height: 10px;
      background-color: #e0e0e0;
      margin-bottom: 10px;
    }

    .skeleton-news {
      display: flex;
      align-items: center;

      .skeleton-image {
        width: 50px;
        height: 50px;
        background-color: #e0e0e0;
        border-radius: 4px;
        margin-right: 10px;
      }

      .skeleton-title {
        width: 100%;
        height: 50px;
        background-color: #e0e0e0;
        position: relative;
        overflow: hidden;

        .loading-line {
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to right,
            transparent 0%,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 100%
          );
          animation: loading 1.5s infinite;
        }
      }
    }

    .skeleton-remark {
      width: 30%;
      height: 10px;
      background-color: #e0e0e0;
      margin-top: 10px;
    }
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
