@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  /* Light theme variables */
  --bg-color: #F3F3F3;
  --text-color: #041B32;
  --text-color1: #3B6978;
  --heading-color: #1E2532;
  --border-color: #DFDFDF;
  --card-bg-color: #FFFFFF;
  --footer-bg-color: #4285f4;
}

.dark-mode {
  /* Dark theme variables */
  --bg-color: #121212;
  --text-color: #FFFFFF;
  --text-color1: #9C9C9C;
  --heading-color: #f4b400;
  --border-color: #333333;
  --card-bg-color: #282828;
  --footer-bg-color: #1f1f1f;
}


body {
  background-color: var(--bg-color);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.market-ticker {
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
}

.market-ticker .ticker-animation {
  width: fit-content;
  padding-left: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: ticker 8s linear infinite;
}

.ticker-animation a {
  color: var(--text-color);
  text-decoration: none;
}

@keyframes ticker {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
